@model List<Practica4.MVC.Models.EmployeesView>
@{
    ViewBag.Title = "Lista de Empleados";
}

<h1>Lista de Empleados</h1>

<table class="table">
    <tr>
        <td>ID</td>
        <td>NOMBRE</td>
        <td>APELLIDO</td>
        <td>ACTUALIZAR</td>
        <td>ELIMINAR</td>
    </tr>

    @foreach (var empleado in Model)
    {
    <tr>
        <td>@empleado.EmployeeID</td>
        <td>@empleado.FirstName</td>
        <td>@empleado.LastName</td>
        <td>@Html.ActionLink("Editar", "Update", new { id = empleado.EmployeeID })</td>
        <td>@Html.ActionLink("Suprimir", "Delete", new { id = empleado.EmployeeID })</td>
    </tr>
    }
</table>
