@model Practica4.MVC.Models.EmployeesView
@{
    ViewBag.Title = "Actualizar Empleado";

}

<h1>Actualizar Empleado</h1>

@using (Html.BeginForm("Update", "Employees", FormMethod.Post))
{
    <div hidden>
        <label>ID: </label>
        @Html.TextBoxFor(x => x.EmployeeID)
    </div>
    <label>NOMBRE: </label>
    @Html.TextBoxFor(x => x.FirstName)
    <br />
    @Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "text-danger" })
    <br />
    <label>APELLIDO: </label>
    @Html.TextBoxFor(x => x.LastName)
    <br />
    @Html.ValidationMessageFor(x => x.LastName, "", new { @class = "text-danger" })
    <br />
    <input type="submit" class="btn btn-success" value="Guardar" />
}